*{
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 40px;
    padding: 10px;
    background-color: lightsalmon;
}

h2 {
    font-size: 30px;
}

#questionNumber {
    padding: 10px;
    padding-top: 30px;
    text-align: center;
}

#question {
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

#answers {
    padding: 10px;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: lightsalmon;
    padding: 5px;
    border: solid;
    border-radius: 5px;
    border-color: rgb(255, 205, 198) salmon salmon rgb(255, 205, 198);
}

#rightWrong {
    padding: 5px;
    text-align: center;
}

#flagRight, #flagWrong {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}

#flagRight {
    background-color: lightgreen;
    display: none;
}

#flagWrong {
    background-color: lightcoral;
    display: none;
}

#game {
    display: none;
}